<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header.ejs %>
</head>
<body>
    <!-- Add your EJS code here -->
    <h1> Your Short URLs</h1>
    <% for (var key in urls) { %>
      <div id="urls">
       <form method="POST" action="/urls/<%=key%>/delete">
          <%=key%> → <a href="<%=urls[key]%>"><%=urls[key]%></a>
          <button type="submit" id="delete">
             Delete
          </button>
        </form>
      </div>
    <% } %>
</body>
</html>