<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header.ejs %>
</head>
<body>
    <!-- Add your EJS code here -->
    <h1>ShortURL: <%=shortURL%></h1>
    <p><%=longUrl%></p>
</body>
</html>