<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header.ejs %>
</head>
<body>
    <!-- Add your EJS code here -->
    <h1> Your Short URLs</h1>
    <% for (var key in urls) { %>
      <p>
        <%=key%> → <a href="<%=urls[key]%>"><%=urls[key]%></a>
      </p>
    <% } %>
</body>
</html>