<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_header.ejs %>
</head>
<body>
    <!-- Add your EJS code here -->
    <h1> Your Short URLs</h1>
    <% for (var key in urls) { %>
      <p>
        <a href="http://localhost:8080/"<%=key%>>http://localhost:8080/<%=key%></a>
        (<%=urls[key]%>)
      </p>
    <% } %>
</body>
</html>